.primaryButton {
  color: #fff;
  background-color: #82aaaa;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 0 darkolivegreen;
  outline: none;

  &:hover {
  background-color: rgba(131, 170, 170, 0.87);
  box-shadow: 0 5px 0 rgba(85, 107, 47, 0.87);
  }
}
.searchButton {
  border: 1.5px solid #000;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  outline: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.favoriteButton {
  color: #333;
  background-color: rgb(243, 243, 44);
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 0 rgb(73, 73, 23);
  outline: none;
  margin-top: 15px;

  &:hover {
  background-color: rgba(255, 255, 0, 0.87);
  box-shadow: 0 5px 0 rgba(73, 73, 23, 0.87);
  }
}

.addButton {
  color: #fff;
  background-color: #82aaaa;
  font-size: 38px;
  font-weight: bold;
  // border: 1px solid darkolivegreen;
  border: none;
  border-radius: 50%;
  outline: none;
  width: 55px;
  height: 55px;
  line-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 15px;

  &:hover {
    background-color: #4b6969;
  }
}


