.container {
  width: 95%;
  max-width: 600px;
  margin: 30px auto;
  padding: 0;
  flex: 1;
}

.title {
  width: 180px;
  padding: 7px;
  margin-bottom: 0px;
  text-align: center;
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 10px 10px 0 0;  
  font-weight: normal;
}

.movieItems {
  border: 1px solid #000;
  padding-bottom: 66px;
}